doctype html
html    
    head
        title Express App 
        link(rel="stylesheet", href="/stylesheet/style.css")
    body
        h2 Hello? 
        p Visit image, using /image
        p Visit text file, using /text
        
